{{ ansible_managed|comment }}

[Unit]
Description=Wraps ipsec command line interface to a service.
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=ipsec start
ExecReload=ipsec update
ExecStop=ipsec stop

[Install]
WantedBy=multi-user.target
