{{ ansible_managed|comment }}

# {{ connection.local.hostname }} ({{ connection.local.interface }}) -> {{ connection.remote.hostname }} ({{ connection.remote.interface }})
conn {{ network_encryption_config.name }}-{{ connection.local.hostname }}-to-{{ connection.remote.hostname }}
    left={{ connection.local.address }}
    right={{ connection.remote.address }}
    auto=start
    rightikeport={{ network_encryption_charon_port }}
    leftikeport={{ network_encryption_charon_port }}
{% for connection_param_name in network_encryption_connection_params %}
    {{ connection_param_name }}={{ network_encryption_connection_params[connection_param_name] }}
{% endfor %}
