{{ ansible_managed|comment }}

{% for connection in network_encryption_connections %}
# {{ connection.local.hostname }} ({{ connection.local.interface }}) -> {{ connection.local.hostname }} ({{ connection.remote.interface }})
{{ connection.local.address }} {{ connection.remote.address }} : PSK '{{ network_encryption_config.psk }}'

{% endfor %}
